body{
    background:url("../Images/mobilebg.svg") no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.container{
    width: 315px;
    height: 546px;
    flex-direction: row-reverse;
    top: 55%;
}
.circle1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%,19%);
}
.circle2{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(19%,-108%);
    width: 150px;
    height: 150px;
}
.about{
    display: flex;
    flex-direction: row-reverse;
}
.name{
    font-size: 48px;
    left: 73%;
    top: 15%;
}
.mainbox{
    flex-direction: column;
    width: 80%;
    height: 80%;
}
.image{
    width: 100%;
}
.image img{
    margin: -137px -78px;
    width: 94%;
    height: 160%;
}
.content{
    margin: 0px;
    padding: 9px 20px;
    width: 100%;
    height: 65%;
    padding-right: 32px;
}
.content .bio{
    font-size: 13px;

}
.links{
    font-size: 13px;
    height: 23%;
    padding-top: 10%;
}
.footer{
    width: 20%;
    height: 100%;
}
.pipe{
    background-color: rgb(252, 189, 189);
    transform: rotate(90deg);
    height: 4%;

}
.icons{
    height: 65%;
    position: relative;
    top: 187px;
}
.icons ul{
    width: 100%;
    padding-bottom: 0px; ;
}
.icons i{
    font-size: 25px;
    margin: -3px 20px;
}
.fa-discord{
    position: relative;
    right: 4px;
}
.fa-youtube{
    position: relative;
    right: 2px;

}

.projects .mainbox{
    width: 100%;
}
.projects .content{
    padding: 0px;
}
.boxes{
    padding: 10px;
    justify-content: space-between;
}
.box{
    width: 110px;
    height: 168px;
    padding: 5px;
}
.avatar img{
    width: 70%;
}
.boxtitle{
    font-size: 15px;
}
.boxcontent{
    font-size: 10px;
}
.btn{
    opacity: 1;
    transform: translateY(0);
    margin-top:2px  ;
}